/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.chart-container {
    margin-top: 20px;
}
/* Estilos para o contêiner do gráfico */
.chart-container2 {

    width: 300px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}
